@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('https://pima.bibliocommons.com/events/uploads/images/full/d7b9f99051a59e56422ec1096ee6bfa2/health-mindfulness-meditation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

h1 {
font-family: 'Nunito', sans-serif;
font-weight: bold;
padding-left: 1em;
padding-top: 25px;
}

.btn-line {
  background-color: transparent;
  border-color: black;
  border-radius: 2px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
}

.bucket {
  font-size: 20px;
}

.dropdown-menu {
  padding: 20px 10px;
  // width: 300px;
}

.form-area {
  width: 420px;
}

.form-control-static {
  line-height: 16px;
  min-height: 20px;
  padding: 0 0 20px;
}

.form-horizontal {
  // margin-left: 0;
  &.control-label {
    margin-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .form-group {
    margin: 0;
  }
}

.handwritten {
  // font-family: 'Bilbo', cursive;
  font-family: 'Neucha', cursive;
}

.index-message {
  font-size: 125%;
  margin-left: 1.5em;
}

.inputs-create-form {
  margin-bottom: 10px;

  p {
    color: lighten($black, 10%);
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
  }
}

.main-menu {
  font-size: 28px;
  font-weight: bold;
  justify-content: right;
  margin-left: 4em;
  margin-top: 5em;
}

.message {
  font-size: 125%;
  margin-left: 1.5em;
}

.navbar {
  align-content: center;
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 1em;
}

.row {
  margin: 0;
}

.tab-content {
  margin-top: 50px;
}

#sign-in {
  margin-left: 6em;
  margin-top: 6em;
}

#sign-up {
  margin-left: 6em;
  margin-top: 5em;
}
